<?xml version="1.0"?>
<config>
    <modules>
        <Imedia_FeaturedProduct>
            <version>0.1.0</version>
        </Imedia_FeaturedProduct>
    </modules>
	
	<default>
        <featuredproduct>
            <display>
                <jquery>1</jquery>
            </display>
        </featuredproduct>
    </default>
    
	<frontend>
        <routers>
            <imedia_featuredproduct>
                <use>standard</use>
                <args>
                    <module>Imedia_FeaturedProduct</module>
                    <frontName>featuredproduct</frontName>
                </args>
            </imedia_featuredproduct>
        </routers>
        <!-- set frontend layout file-->
        <layout>
            <updates>
                <imedia_featuredproduct>
                    <file>imedia/imedia_featuredproduct.xml</file>
                </imedia_featuredproduct>
            </updates>
        </layout>        
    </frontend>
	
	
	
    <global>
	
	 <!--set events-->
        <events>
            <catalog_product_save_after>
				<observers>
					<imedia_featuredproduct_model_observer>
						<type>singleton</type>
						<class>imedia_featuredproduct/observer</class>
						<method>catalog_product_save_after</method>
					</imedia_featuredproduct_model_observer>
				</observers>
		    </catalog_product_save_after>
			
			<catalog_product_delete_before>
				<observers>
					<imedia_featuredproduct_model_observer>
						<type>singleton</type>
						<class>imedia_featuredproduct/observer</class>
						<method>catalog_product_delete_before</method>
					</imedia_featuredproduct_model_observer>
				</observers>
		    </catalog_product_delete_before>
						
        </events>
		
        <models>
            <imedia_featuredproduct>
                <class>Imedia_FeaturedProduct_Model</class>
                <resourceModel>featuredproduct_resource</resourceModel>
            </imedia_featuredproduct>
            <featuredproduct_resource>
                <class>Imedia_FeaturedProduct_Model_Resource</class>
            </featuredproduct_resource>
        </models>
        
        <helpers>
            <imedia_featuredproduct>
                <class>Imedia_FeaturedProduct_Helper</class>
            </imedia_featuredproduct>  
        </helpers>
        
        <blocks>
            <imedia_featuredproduct>
                <class>Imedia_FeaturedProduct_Block</class>
            </imedia_featuredproduct>  
        </blocks>
        <!-- Setup Resource -->
        <resources>
            <imedia_featuredproduct_setup>
                <setup>
                    <module>Imedia_FeaturedProduct</module>
                    <class>Imedia_FeaturedProduct_Model_Resource_Setup</class>
                </setup>
            </imedia_featuredproduct_setup>
        </resources>
	
    </global>

    <!-- Adminhtml layout xml configuration -->
    <adminhtml>
        <layout>
            <updates>
                <imedia_featuredproduct>
                    <file>imedia/imedia_featuredproduct.xml</file>
                </imedia_featuredproduct>
            </updates>
        </layout>
    </adminhtml>
    
    <!-- Admin router configuration-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Imedia_FeaturedProduct after="Mage_Adminhtml">Imedia_FeaturedProduct_Adminhtml</Imedia_FeaturedProduct>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
</config>